body {
  background-image: url("hatter.jpg");
}

.container {
  max-width: 1000px;
  margin: 0 auto;
  background-color: rgb(172, 243, 243);
  padding: 20px;
}
header {
  background-size: cover;
}
/*3D text*/
.dd {
  text-transform: uppercase;
  color: #155b61;
  text-shadow: 1px 0px 0px #67c2c5, 0px 1px 0px #67c2c5, 2px 1px 0px #67c2c5,
    1px 2px 0px #67c2c5, 3px 2px 0px #67c2c5, 2px 3px 0px #67c2c5,
    4px 3px 0px #67c2c5, 3px 4px 0px #67c2c5, 5px 4px 0px #67c2c5,
    4px 5px 0px #67c2c5, 6px 5px 0px #67c2c5, 5px 6px 0px #67c2c5,
    7px 6px 0px #67c2c5, 6px 7px 0px #67c2c5, 8px 7px 0px #aff1f9,
    7px 8px 0px #aff1f9, 9px 8px 0px #aff1f9, 8px 9px 0px #aff1f9,
    10px 9px 0px #aff1f9, 9px 10px 0px #aff1f9, 11px 10px 0px #aff1f9,
    10px 11px 0px #aff1f9;
}

h2 {
  color: blue;
}
.kep-tarolo {
  display: flex;
  flex-direction: row;
  margin-right: 5px;
  justify-content: space-around;
  flex-wrap: wrap;
}
.aláírás {
  color: blue;
  text-align: center;
}
table {
  border: 1px solid blue;
  margin: 0 auto;
}
th {
  background-color: blue;
  color: white;
}
td {
  text-align: center;
  padding: 5px;
  border-color: white;
}
.kep {
  width: 200px;
  height: 200px;
  box-shadow: 7px 7px rgb(75, 183, 219);
  border-radius: 5px;
}
p {
  text-align: justify;
  text-indent: 1rem;
}
.félkövér {
  font-style: bold;
  color: blue;
}
footer {
  text-align: right;
}
